{
	"name": "webservices-nl/wsdev",
	"description": "global configuration for wsdev machine",
    "homepage": "https://webservices.nl",
    "license": "proprietary",
    "authors": [
        {
            "name": "Thijs Alberts",
            "email": "thijs.alberts@webservices.nl"
        }
    ],
	"config": {
		"vendor-dir": "~/.composer/vendor"
	},
	"require": {
		"squizlabs/php_codesniffer": "@stable",
		"fabpot/php-cs-fixer": "@stable",
		"phpmetrics/phpmetrics: @stable"
		"phpmd/phpmd": "@stable",
	},
	"require-dev": {},
	"minimum-stability": "dev"
}