server {
    listen  80;

    server_name {{ nginx_servername }};
    access_log /var/log/nginx/{{nginx_servername}}_access.log;
    error_log /var/log/nginx/{{nginx_servername}}_error.log;
    root {{ nginx_docroot }};

    index index.html index.php;
    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    error_page 404 /404.html;
    error_page 500 502 503 504 /50x.html;
        location = /50x.html {
        root /usr/share/nginx/html;
    }

    location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass {{ unix_sock }};
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    # vagrant fix
    sendfile off;
}
